html {
  box-sizing: border-box;
  background-color: rgba(136, 136, 136, 0.822);
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: white;
}

/* Header */

.hide-when-mobile {
  background-color: black;
  display: flex;
  justify-content: space-around;
  border: 12px outset gray;
}
@keyframes move {
  0% {
    transform: scale(1, 1);
    border-radius: 12px;
  }
  25% {
    transform: scale(1.1, 1.2);
    border-radius: 24px;
  }
  50% {
    transform: scale(1.5, 1.4);
    border-radius: 50%;
  }
  100% {
    transform: scale(1.1, 1);
    border-radius: 0;
  }

  /* ul */
}
.flex {
  display: flex;
  /* li */
}
.main-list {
  padding: 20px;
  position: relative;
}
h1 {
  text-align: center;
  color: #ffffff;
  background: #333333d8;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px rgba(37, 92, 124, 0.151),
    0 -10px 20px #ff8000, 0 -18px 40px #f00;
  padding: 20px;
  font-size: 43px;
  letter-spacing: 8px;
}
.main-link {
  padding: 15px 15px;
}
.main-link:hover {
  color: cyan;
  box-shadow: cyan 0 0 8px;
}
.sub-ul {
  position: absolute;
  top: 75px;
  border-radius: 5px;
  background-color: royalblue;
  border-top: solid 2px white;
  left: -5px;
  padding: 8px;
  display: none;
}
.sub-ul li {
  padding: 8px 6px;
  font-size: 18px;
  border-bottom: white 1px solid;
}
.sub-ul li a:hover {
  color: black;
}
.main-list:hover .sub-ul {
  display: block;
}
li,
a {
  font-size: 19px;
  letter-spacing: 3px;
}
img {
  width: 10vw;
  height: 10vh;
  padding: 10px;
  animation: move 20s infinite linear;
  
}
.show-when-mobile {
  display: none;
}
.demo {
  font-size: 313px;
  color: red;
}
.demo::after {
  content: "Are you ready Human?";
  font: 30px sans-serif;
  color: aqua;
  position: relative;
  bottom: 122px;
}
button {
  display: block;
  width: 16vw;
  margin-right: auto;
  margin-left: auto;
  color: royalblue;
  height: 50px;
  font: 1.7em sans-serif;
}
button:hover {
  transition: 0.2s;
  transform: scale(1, 1.2);
  border-radius: 20px;
  opacity: 0.8;
  color: red;
  background-color: palegreen;
}
#Hi {
  background-color: rgba(255, 255, 255, 0.233);
  border: #536976 2px solid;
  text-align: center;
  text-decoration: underline;
  display: block;
  width: 15%;
  padding: 11px;
  margin: 0 auto;
  border-radius: 34px;
  position: relative;
  bottom: 160px;
  left: 155px;
}
#myh2 {
  display: none;
}
#st {
  color: yellowgreen;
  font: 1.3em sans-serif;
}
#st:hover,
#Hi:hover {
  background-color: rgba(255, 0, 0, 0.726);
  text-decoration: none;
  color: white;
}
#quiz {
  border: 2px solid;
  border-radius: 110px;
  display: none;
}
#quizjs {
  display: block;
  position: relative;
  bottom: 221px;
  left: 1310px;
  transform: rotate(31deg);
}
#btt {
  display: none;
}#an{
position: fixed;
left: 10%;
bottom: 510px;
width: 27%;
height: 10%;
}
#h1move{
animation: rkh 6.7s infinite  ;

color: red;
background-color: aquamarine;
position: absolute;
top: 0;
left: 50%;
border-radius: 50%;
padding: 22px;
opacity: 0.8;
}
#h1move::after{
content: "Hello YOOu";
overflow: 4;
}

@keyframes rkh {
  0% {
    transform:translate(0  , 12px);
    opacity: 0.7;
  }
  25% {
    transform:translate(0  , 120px);
    opacity: 1;
  }
  50% {
    transform:translate(110px  , 312px);
    opacity: 1;
  }
  100% {
    transform:translate(380px  , 800px);
    opacity: 0;
  }
}#h1anime{
  display: none;
  background-color:#536976;
  width: 50%;
  margin: auto auto;
}#demoo{
 text-align: center;
  width: 20%;
  margin:  0 auto;
  padding: 19px 1px;
  border-radius: 44px;
  color: aquamarine;
}#hideme{display: none;}
#hidemejs{
  display: block;
}
#demotwo{ font-size: 20px; background-color: red;}